<section class="hero-wrap d-flex align-items-center " style="background-color: white; height: calc(100vh);">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="hero-title">
                <h1>An idea which will change the world 🧞?</h1>
                <h3>Please submit it now and we will revert to you soon </h3>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="hero-title">

                <%= link_to 'Submit Ideas →', new_idea_path, class: 'btn btn-simple', style:"color: white; padding: 20px 46px; font-size: 18px;background: #ff6b6b; border-radius: 6px; margin-top: 100px" %>
            </div>




        </div>

          <p class="search-bottom-title"><%= link_to 'View All Ideas →', ideas_path, class: '' %></p>

    </div>
</section>
